<section id="testimonial">
    <div class="container my-5 py-5">
        <div class="row">
            <div class="offset-md-1 col-md-10">
                <div class="swiper testimonial-swiper">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="row ">
                                <div class="col-2">
                                    <iconify-icon icon="ri:double-quotes-l" class="quote-icon text-primary"></iconify-icon>
                                </div>
                                <div class="col-md-10 mt-md-5 p-5 pt-0 pt-md-5">
                                    <p class="testimonial-content fs-2">
                                        At the core of our practice is the idea that cities are the
                                        incubators of our
                                        greatest achievements, and the best hope for a sustainable future.
                                    </p>
                                    <p class="text-black">- Joshima Lin</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="row ">
                                <div class="col-2">
                                    <iconify-icon icon="ri:double-quotes-l" class="quote-icon text-primary"></iconify-icon>
                                </div>
                                <div class="col-md-10 mt-md-5 p-5 pt-0 pt-md-5">
                                    <p class="testimonial-content fs-2">
                                        At the core of our practice is the idea that cities are the
                                        incubators of our
                                        greatest achievements, and the best hope for a sustainable future.
                                    </p>
                                    <p class="text-black">- Joshima Lin</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="row ">
                                <div class="col-2">
                                    <iconify-icon icon="ri:double-quotes-l" class="quote-icon text-primary"></iconify-icon>
                                </div>
                                <div class="col-md-10 mt-md-5 p-5 pt-0 pt-md-5">
                                    <p class="testimonial-content fs-2">
                                        At the core of our practice is the idea that cities are the
                                        incubators of our
                                        greatest achievements, and the best hope for a sustainable future.
                                    </p>
                                    <p class="text-black">- Joshima Lin</p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="swiper-pagination"></div>

                </div>
            </div>
        </div>
    </div>

</section>