@page "/Categories/list"
@using ECommerceWeb.Dto.Response
@inject HttpClient httpClient

<h3>List of categories</h3>
@if (categories is null)
{
    <p>Cargando...</p>
}else
{
   <table class="table table-primary table-bordered">
       <thead>
           <tr class="table-primary">
               <th>
                   ID
               </th>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
           </tr>
       </thead>
       <tbody>
           @foreach (var category in categories)
            {
                <tr class="table-secondary">
                    <td>
                        @category.Id
                    </td>
                    <td>
                        @category.Name
                    </td>
                    <td>
                        @category.Description
                    </td>
                </tr>
            }
       </tbody>
   </table>
}

@code {

    public ICollection<CategoryDtoResponse>? categories { get; set; }

    protected override async Task OnInitializedAsync()
    {
        categories = await httpClient.GetFromJsonAsync<ICollection<CategoryDtoResponse>>("api/categories");
        Console.WriteLine("My debug output.");
      
    }

    

}
