@inherits LayoutComponentBase

<BlazoredToasts />
<Spinner />
<Loading />
<div>
    <NavMenu />

</div>


<main class="container-fluid content position-relative h-100">
    @Body
</main>

<FooterMenu />
