@inject AuthenticationStateProvider authenticationStateProvider
@inject SweetAlertService Swal
@inject NavigationManager navigationManager
@inject IShoppingCartProxy shoppingCart
@implements IDisposable

<div class="container-fluid">
    <hr class="m-0">
</div>

<div class="container-fluid">

     <CartPortable cart="cart"/>

    <nav class="main-menu d-flex navbar navbar-expand-lg ">

        <NavMenuMobile ShowQuantityProducts="ShowQuantityProducts()"/>

        @* normal menu *@
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">

            <div class="offcanvas-header justify-content-center">
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>

            <div class="offcanvas-body justify-content-between">

                <ul class="navbar-nav menu-list list-unstyled d-flex gap-md-3 mb-0">
                    <li class="nav-item">
                        <NavLink href="" class="nav-link" Match="NavLinkMatch.All">Home</NavLink>
                    </li>
                    <AuthorizeView Roles="@Statics.AdministratorRole">
                        <Authorized>
                            <li class="nav-item">
                                <NavLink href="Category/list" class="nav-link">Dashboard</NavLink>
                            </li>
                        </Authorized>
                    </AuthorizeView>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" id="pages" data-bs-toggle="dropdown"
                           aria-expanded="false">Administration</a>
                        <ul class="dropdown-menu" aria-labelledby="pages">
                            <li>
                                <NavLink href="Category/list" class="dropdown-item">
                                    Category
                                </NavLink>
                            </li>
                            <li>
                                <NavLink href="Brand/list" class="dropdown-item">
                                    Brand
                                </NavLink>
                            </li>
                            <li>
                                <NavLink href="Product/list" class="dropdown-item">
                                    Product
                                </NavLink>
                            </li>
                            <li>
                                <NavLink href="detail/1" class="dropdown-item">
                                    Detail<span class="badge bg-success text-dark ms-2">TEST</span>
                                </NavLink>
                            </li>
                            <li>
                                <NavLink href="cart.html" class="dropdown-item">
                                    Cart<span class="badge bg-success text-dark ms-2">PRO</span>
                                </NavLink>
                            </li>

                        </ul>
                    </li>

                </ul>

                <div class="d-none d-lg-flex align-items-end">
                    <ul class="d-flex justify-content-end list-unstyled m-0">
                        <li class="">
                            <NavLink href="#" class="mx-3" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCart"
                                     aria-controls="offcanvasCart">
                                <iconify-icon icon="mdi:cart" class="fs-4 position-relative"></iconify-icon>
                                <span class="position-absolute translate-middle badge rounded-circle bg-primary pt-2">
                                    @ShowQuantityProducts()                                
                                </span>
                            </NavLink>
                        </li>
                        <AuthorizeView>
                            <Authorized>
                                <li>
                                    <NavLink href="#" class="mx-3">
                                        @context.User.Identity!.Name
                                        <iconify-icon icon="healthicons:person" class="fs-4"></iconify-icon>

                                    </NavLink>
                                </li>
                                <li>
                                    <a href="wishlist.html" class="mx-3">
                                        <iconify-icon icon="mdi:heart" class="fs-4"></iconify-icon>
                                    </a>
                                </li>

                                <li>
                                    <button class="btn btn-light rounded-pill" @onclick="SingOut"><i class="bi bi-door-open me-1">
                                    </i>Sing Out</button>
                                </li>

                            </Authorized>
                        </AuthorizeView>
                        <AuthorizeView>
                            <NotAuthorized>
                                <li>
                                    <NavLink class="btn btn-light rounded-pill" href="account/Login"><i class="bi bi-box-arrow-in-right me-1">
                                    </i>Login</NavLink>
                                </li>
                            </NotAuthorized>
                        </AuthorizeView>
                    </ul>

                </div>



            </div>

        </div>

    </nav>

</div>

@code {

    public ICollection<ShoppingCartDto>? cart { get; set; }

    private async Task SingOut()
    {

        var res = await Swal.FireAsync(
            new SweetAlertOptions
                {
                    Title = "Are you sure?",
                    Text = "You want sing out!",
                    Icon = SweetAlertIcon.Warning,
                    ShowCancelButton = true,
                    ConfirmButtonColor = "#3085d6",
                    CancelButtonColor = "#d33",
                    ConfirmButtonText = "Yes!"
                }
        );
        if (res.IsConfirmed)
        {
            var auth = (AuthenticationService)authenticationStateProvider;
            await auth.Authenticate(null);
            navigationManager.NavigateTo("/", forceLoad: true);

        }

    }

    private int ShowQuantityProducts()
    {

        return shoppingCart.QuantityProducts();

    }

    protected override async Task OnInitializedAsync()
    {
        shoppingCart.RefreshView += OnCartChanged;
        await LoadCart();
    }

    private async void OnCartChanged()
    {
        await LoadCart();
    }

    private async Task LoadCart()
    {
        cart = await shoppingCart.GetShoppingCart();
        StateHasChanged();
    }

    public void Dispose()
    {
        shoppingCart.RefreshView += OnCartChanged;
      
    }

}