@*  Menu mobile *@
<div class="d-flex d-lg-none align-items-end mt-3">
    <ul class="d-flex justify-content-end list-unstyled m-0">
        <li>
            <a href="account.html" class="mx-3">
                <iconify-icon icon="healthicons:person" class="fs-4"></iconify-icon>
            </a>
        </li>
        <li>
            <a href="wishlist.html" class="mx-3">
                <iconify-icon icon="mdi:heart" class="fs-4"></iconify-icon>
            </a>
        </li>

        <li>
            <a href="#" class="mx-3" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCart"
               aria-controls="offcanvasCart">
                <iconify-icon icon="mdi:cart" class="fs-4 position-relative"></iconify-icon>
                <span class="position-absolute translate-middle badge rounded-circle bg-primary pt-2">
                    @ShowQuantityProducts
                </span>
            </a>
        </li>

        <li>
            <a href="#" class="mx-3" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSearch"
               aria-controls="offcanvasSearch">
                <iconify-icon icon="tabler:search" class="fs-4"></iconify-icon>
                <span></span>

            </a>
        </li>
    </ul>

</div>

@* hamburger button *@
<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar">
    <span class="navbar-toggler-icon"></span>
</button>

@code {

    [Parameter]
    public int ShowQuantityProducts { get; set; }


}